body {
    --highlight: #929dc2;
    --background: #12171d;
}
#text::selection,
#keyboard::selection {
    background: none;
}

.yellow { --highlight: #fbfeb1; }
.red { --highlight: #e5b0ad; }
.green { --highlight: #65b86f; }
.purple { --highlight: #ad87be; }
.white { --highlight: #ffffff; }

#display {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: text;
    font-family: ostrichsans;
    font-size: 49px;
    line-height: 43.5px;
    padding: 8px 14px;
    width: 416px;
    height: 416px;
    background: #000000;
    border: 8px solid var(--highlight);
    #text {
        span {
            color: var(--highlight);
            height: 43.5px;
            display: inline-block;
            overflow: hidden;
            vertical-align: top;
        }
        span.hidden { display: none; }
        .selected {
            background: var(--highlight);
            color: #000000;
        }
    }
    input {
        --width: 20;
        --x: 14;
        --y: 8;
        position: absolute;
        font: inherit;
        line-height: 43.5px;
        height: 43.5px;
        width: calc(var(--width) * 1px);
        left: calc(var(--x) * 1px);
        top: calc(var(--y) * 1px);
        background: var(--highlight);
        cursor: text;
        border: none;
        padding: 0;
    }
    input::placeholder {
        color: #000000;
        opacity: 1;
    }
    input:focus {
        background: #ffffff;
        outline: none;
    }
    #display-timer {
        --progress: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 8px;
        width: calc(var(--progress) * 100%);
        background: #ffffff;
        transition: background 0.5s;
    }
    #display-timer[style*="--progress: 1"],
    #display-timer.flash {
        background-color: #e9757f;
        transition: none;
    }
}
