body {
    --highlight: #929dc2;
    --background: #12171d;
}
#display::selection,
#keyboard::selection {
    background: none;
}

#display {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    font-family: ostrichsans;
    font-size: 49px;
    line-height: 43.5px;
    padding: 8px 14px;
    width: 416px;
    height: 416px;
    --background: #000000;
    background: var(--background);
    border: 8px solid var(--highlight);
    span {
        color: var(--highlight);
        height: 43.5px;
        display: inline-block;
        overflow: hidden;
        vertical-align: top;
    }
    span.yellow { --highlight: #fbfeb1; }
    span.red { --highlight: #e5b0ad; }
    span.green { --highlight: #65b86f; }
    span.purple { --highlight: #ad87be; }
    span.white { --highlight: #ffffff; }
    span.selected {
        position: relative;
        left: -2px;
        padding-left: 2px;
        margin-right: -2px;
        color: var(--background);
        background: var(--highlight);
    }
}
