a { color: #00ffff; }
a:visited { color: #ff00ff; }
u { text-decoration-style: dashed; }
body {
    --highlight: #929DC2;
    --background: #0F141A;
    background-color: var(--background);
    font-family: spacemono;
    color: #ffffff;
    text-align: center;
    margin: 0;
}
html, body {
    width: 100vw;
    overflow-x: hidden;
}
button {
    color: #0F141A;
    font-weight: bold;
    font-family: titilliumweb;
    font-size: 16px;
    background-color: var(--highlight);
    border: 2px solid transparent;
    padding: 6px;
    transition-duration: 0.4s;
    vertical-align: middle;
}
button:hover {
    background-color: var(--background);
    color: var(--highlight);
    border: 2px solid var(--highlight);
}
table {
    display: inline-block;
    max-width: 100vw;
    overflow-x: scroll;
    tbody {
        text-align: center;
        th {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
#timer {
    display: inline-block;
    min-width: 70px;
    vertical-align: middle;
    border: 2px solid var(--highlight);
    padding: 4px 10px;
    #strikes {
        background-color: var(--highlight);
        color: var(--background);
    }
}
h2 {
    margin: 0;
}
#received, #calculated {
    font-size: 100px;
    position: relative;
    height: 95px;
    width: 100vw;
}
#received {
    .current {
        color: #ffffff;
    }
    .text {
        right: calc(50vw - 459px);
    }
}
#calculated {
    .struck {
        background-color: #ffffff;
        color: var(--background);
    }
    .text {
        right: calc(50vw + 30.5px);
    }
    input {
        position: absolute;
        font: inherit;
        line-height: 95px;
        height: 95px;
        width: 61px;
        left: calc(50vw - 30.5px);
        background: #ffffff;
        cursor: text;
        border: none;
        border-bottom: #ffffff solid 8px;
        padding: 0;
    }
    input:focus {
        background: var(--background);
        color: #ffffff;
        outline: none;
    }
}
.text {
    position: absolute;
    line-height: 95px;
    color: var(--highlight);
    height: 95px;
    overflow-y: hidden;
}
#received::before, #calculated::before {
    z-index: 1;
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--background) calc(50vw - 457.5px), #00000000 calc(50vw - 152.5px), #00000000 calc(50vw + 30.5px), var(--background) calc(50vw + 457.5px));
    pointer-events: none;
}

body.strike {
    --highlight: #C1626A;
    --background: #190B0C;
}
#stats {
    color: var(--highlight);
    tbody {
        text-align: left;
        th {
            padding-left: 45px;
        }
        td {
            padding-right: 25px;
        }
    }
}
#settings {
    color: var(--highlight);
    overflow: visible;
    th, td {
        vertical-align: middle;
        position: relative;
    }
}

input[type="range"] {
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    background: var(--highlight);
    height: 4px;
    border: 0;
    border-radius: 2px;
    max-width: calc(25vw - 60px);
}
input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--highlight);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-thumb, input[type="range"]:hover::-moz-range-thumb {
    background: #ffffff;
}
td:has(input[type="range"]) {
    --value: "0";
}
td:has(input[type="range"])::after {
    box-sizing: border-box;
    content: var(--value);
    position: absolute;
    left: calc(50% - 18px);
    top: -20px;
    width: 36px;
    height: 20px;
    background: var(--highlight);
    color: var(--background);
    border: 0;
    border-radius: 8px;
    opacity: 0;
    transition: 0s, opacity 0.4s ease-in, transform 0.4s ease-in;
    line-height: 20px;
    pointer-events: none;
}
td:has(input[type="range"])::before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    left: calc(50% - 8px);
    top: -0.2px;
    width: 16px;
    height: 8px;
    background: transparent;
    border: 8px solid transparent;
    border-top: 8px solid var(--highlight);
    opacity: 0;
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
    pointer-events: none;
}
td:has(input[type="range"]:hover)::after, td:has(input[type="range"]:hover)::before {
    opacity: 1;
    transform: translateY(-4px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
td:has(input[type="range"]:active)::after {
    background-color: var(--background);
    color: var(--highlight);
    border: 2px solid  var(--highlight);
    line-height: 16px;
}
td:has(input[type="range"]:active)::before {
    border-top-color: var(--background);
}
