@font-face {
    font-family: 'grapesoda';
    src: url('assets/fonts/GrapeSoda.ttf') format('woff');
}
.grapesoda { font-family: grapesoda }

@font-face {
    font-family: 'spacemono';
    src: url('assets/fonts/SpaceMono-Regular.woff2') format('woff2'),
        url('assets/fonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'spacemono';
    src: url('assets/fonts/SpaceMono-Bold.woff2') format('woff2'),
    url('assets/fonts/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.spacemono { font-family: spacemono }

@font-face {
    font-family: 'barcode';
    src: url('assets/fonts/LibreBarcode128-Regular.woff2') format('woff2'),
        url('assets/fonts/LibreBarcode128-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.barcode { font-family: barcode, sans-serif }

@font-face {
    font-family: 'barcodetext';
    src: url('assets/fonts/LibreBarcode128Text-Regular.woff2') format('woff2'),
        url('assets/fonts/LibreBarcode128Text-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.barcodetext { font-family: barcodetext, sans-serif }

@font-face {
    font-family: 'renogare';
    src: url('assets/fonts/Renogare-Regular.otf') format('woff'),
    url('assets/fonts/Renogare-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.barcodetext { font-family: barcodetext, sans-serif }