@keyframes drift-x {
    0% {background-position-x: 0}
    100% {background-position-x: 1080px}
}
@keyframes drift-y {
    0% {background-position-y: 0}
    100% {background-position-y: 378px}
}

body {
    background: url(assets/clouds.png);
    animation: drift-x 19s infinite linear, drift-y 46s linear infinite;
    background-size: 1080px;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: spacemono;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    .hidden {
        -webkit-text-fill-color: transparent;
        background-size: 1080px;
        background: url(assets/clouds.png) fixed;
        animation: drift-x 19s infinite linear, drift-y 46s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
    }
}