@keyframes drift-x {
    0% {background-position-x: 0}
    100% {background-position-x: 1024px}
}
@keyframes drift-y {
    0% {background-position-y: 0}
    100% {background-position-y: 1024px}
}
@keyframes float {
    0% {transform: translateY(-5px)}
    100% {transform: translateY(5px)}
}

#dull-contrivance {
    padding: 15px 0px;
    --spinspeed: 250ms;
    background-color: #000000;
}

body {
    background: #181a23;
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    margin: 0;
    #wrapper {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vh;
        width: 100vw;
        position: fixed;
        --maxhorizscroll: 0;
    }
    #wrapper.canhorizontal {
        overflow-x: scroll;
    }
    #wrapper.cantvertical {
        overflow-y: hidden;
    }
}

#header {
    left: 0;
    top: 0;
    padding: 10vw 0px 60vw 0px;
    width: 100%;
    position: relative;
    background-image: url(assets/stars.gif), linear-gradient(#000000, #222244);
    text-align: center;
    color: #ffffff;
    a {
        font-size: 0;
    }
    h1 {
        font-size: 100px;
        margin-bottom: 10px;
    }
    .dark {
        color: #55555e;
    }
    #eyes {
        position: relative;
    }
    #eyes:hover::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("assets/realeye.gif"), url("assets/dot.png");
        background-size: contain;
    }
    #eye {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 50px;
        img {
            width: 42px;
            height: 42px;
        }
    }
    #flag {
        position: absolute;
        display: inline-block;
        bottom: 49.8vw;
        left: 17vw;
        img {
            width: 48px;
            height: 48px;
        }
    }
    #satelite {
        position: absolute;
        display: inline-block;
        top: 6vw;
        right: 32vw;
        animation: float 5s 1s alternate infinite ease-in-out;
        transform: translateY(-5px);
        img {
            width: 60px;
            height: 60px;
        }
        #contact {
            position: absolute;
            padding: 2px;
            bottom: -30px;
            width: 92px;
            height: 28px;
            left: -16px;
            background-color: #181a23;
            margin-inline: auto;
            transform: translateY(-5px);
            opacity: 0;
            transition: 0.5s;
            img {
                margin: 2px;
                width: 24px;
                height: 24px;
            }
        }
    }
    #satelite:hover #contact {
        opacity: 1;
        transform: none;
    }
    #smoke {
        z-index: 1;
        position: absolute;
        right: 7vw;
        bottom: 30.2vw;
        img {
            width: 48px;
            height: 48px;
        }
    }
    #spikes {
        z-index: 1;
        position: absolute;
        left: 23vw;
        bottom: 30vw;
        img {
            width: 48px;
            height: 16px;
        }
    }
    #forest {
        pointer-events: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

#body {
    padding: 50px;
    padding-bottom: 0;
    color: #ffffff;
    font-family: spacemono;
    text-align: center;
    --scroll-range: 0;
    #scroll {
        padding-top: calc(100vh - 192px);
        height: 500vh;
        --fadeout-range: 0;
        #lookathim {
            display: block;
            height: 30vw;
            width: 30vw;
            position: sticky;
            top: calc(50vh - 15vw);
            --opacity: calc((var(--scroll-range) * 2));
            --opacity2: calc(var(--scroll-range) * 0.4 - 0.16);
            --opacity3: calc(var(--scroll-range) * 8 - 7);
            --opacity4: calc(var(--scroll-range) * 2 - 1);
            #black {
                left: calc(35vw - 50px);
                position: absolute;
                width: 30vw;
                height: 30vw;
                background: url('assets/black.png');
                background-size: 100%;
                z-index: 2;
                filter: brightness(calc(1 - 2 * var(--scroll-range)));
            }
            #red {
                left: calc(35vw - 50px);
                position: absolute;
                width: 30vw;
                height: 30vw;
                background: url('assets/red.png');
                background-size: 400%;
                background-position-x: 0vw;
            }
            .white {
                --offset: 0vw;
                left: calc(35vw - (var(--offset) / 2) - 50px);
                top: calc(var(--offset) / -2);
                position: absolute;
                width: calc(30vw + var(--offset));
                height: calc(30vw + var(--offset));
                background: url('assets/white.png');
                background-size: 100%;
                mix-blend-mode: lighten;
                z-index: 1;
                opacity: var(--opacity);
                pointer-events: none;
            }
            .white2 {
                object-fit: fill;
                left: calc(31.25vw - (var(--offset) / 2) - 50px);
                top: calc(-3.75vw - var(--offset)/2);
                width: calc(37.5vw + var(--offset));
                height: calc(37.5vw + var(--offset));
                background-image: url('assets/white2.png');
                opacity: var(--opacity2);
            }
            .white3 {
                background-image: url('assets/white3.png');
                opacity: var(--opacity3);
                height: calc(60vw + var(--offset) * 2);
                top: calc(-7.5vw - var(--offset));
            }
            .white4 {
                background-image: url('assets/white4.png');
                opacity: var(--opacity4);
                height: calc(45vw + var(--offset) * 1.5);
                top: calc(-5.625vw - var(--offset) * 0.75);
                
            }
            #link {
                display: block;
                position: absolute;
                width: 7.5vw;
                height: 7.5vw;
                left: calc(46.25vw - 50px);
                top: 10.25vw;
                z-index: 2;
            }
        }
        .overlay {
            background-size: auto;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            pointer-events: none;
        }
        #noise1 {
            background: url('assets/noise.png');
            animation: drift-x 1s linear infinite, drift-y 5s linear infinite;
            filter: hue-rotate(-120deg) brightness(calc(100% - var(--fadeout-range)));
            opacity: var(--scroll-range);
        }
        #noise2 {
            background: url('assets/noise.png');
            animation: drift-x 7s linear infinite, drift-y 2s linear infinite;
            filter: hue-rotate(120deg) brightness(calc(100% - var(--fadeout-range)));
            opacity: var(--scroll-range);
            mix-blend-mode: lighten;
        }
    }
    #afterwards {
        position: relative;
        font-size: large;
        #line {
            padding-top: 90vw;
            transform: translateX(calc(44.55vw - 50px));
            width: 10.9vw;
            background: #ffffff;
            #linetext {
                z-index: 1;
                position: relative;
                width: calc(60vw - 100px);
                left: calc(-24.55vw + 50px);
                mix-blend-mode: difference;
            }
        }
        #wonder {
            position: absolute;
            right: 0;
            top: 1500px;
            img {
                width: 25vw;
            }
        }
    }
}
.secret {
    visibility: hidden;
    #prism {
        display: inline-block;
        margin-top: 40px;
        font-family: lato;
        font-size: 2.34100663vw;
        position: relative;
        cursor: pointer;
        .pieces {
            position: absolute;
            width: 5.25296137vw;
            height: 4.54935622vw;
            mix-blend-mode: difference;
            left: calc(50% - 2.62648069vw);
            top: calc(50% - 2.80920796vw);
            transition: 0.6s cubic-bezier(0.37, 0, 0.63, 1);
            img {
                filter: contrast(0%) brightness(200%);
                position: absolute;
                left: 0;
                width: 5.25296137vw;
                height: 4.54935622vw;
                transition: 0.5s, filter 0s;
                opacity: 0;
            }
            .one {
                transition-delay: 0s;
                transform: translate(0vw, -0.780335544vw);
                animation: pulse1 linear 1s 1;
            }
            .two {
                transition-delay: 0.15s;
                transform: translate(-0.675790405vw, 0.390167772vw);
                animation: pulse2 linear 1s 1;
            }
            .three {
                transition-delay: 0.3s;
                transform: translate(0.675790405vw, 0.390167772vw);
                animation: pulse3 linear 1s 1;
            }
        }
        .triangle {
            position: absolute;
            width: 5.25296137vw;
            height: 4.54935622vw;
            left: calc(50% - 2.62648069vw);
            top: calc(50% - 2.80920796vw);
            mix-blend-mode: difference;
            opacity: 0;
            scale: 0.9;
            transition: 0.5s, rotate 0s;
            transition-delay: 0.6s;
            rotate: 360deg;
        }
    }
    #prism:hover {
        .pieces img {
            opacity: 1;
            transform: none;
        }
    }
}
body.revealed .secret {
    visibility: visible;
}
body.refracting:not(.refracted), body.refracted:not(.refracting) {
    #prism {
        .pieces {
            top: calc(50% + 0.468201327vw);
            scale: 4;
            rotate: 180deg;
            img {
                opacity: 1;
                transform: none !important;
            }
        }
        .triangle {
            top: calc(50% + 0.312134218vw);
            opacity: 1;
            scale: 3.6;
            rotate: 180deg;
        }
    }
    #rainbow {
        filter: none;
        background-image: url('assets/rainbow.png');
        --width: 100vw;
        transition: 0.5s;
        transition-delay: 0.7s;
    }
    #rainbowtext {
        transition: filter 0s, grid-template-rows 0.5s, padding-bottom 0.5s;
        transition-delay: 1s;
        filter: none;
        grid-template-rows: 1fr;
        padding-bottom: 50px;
    }
}
body.refracted:not(.refracting) {
    #prism .pieces {
        transition: none;
        rotate: -180deg !important;
    }
}
body:not(.refracting), body.refracted {
    #prism {
        .pieces img {
            animation: none !important;
        }
        .triangle {
            transition: 0.6s cubic-bezier(0.37, 0, 0.63, 1) !important;
            transition-delay: 0s;
        }
    }
}
@keyframes pulse1 {
    0% {filter: none}
    14.9999% {filter: none}
    15% {filter: contrast(0%) brightness(200%)}
    29.9999% {filter: contrast(0%) brightness(200%)}
    30% {filter: none}
    59.9999% {filter: none}
    60% {filter: contrast(0%) brightness(200%)}
}
@keyframes pulse2 {
    0% {filter: contrast(0%) brightness(200%)}
    7.5% {filter: none}
    22.4999% {filter: none}
    22.5% {filter: contrast(0%) brightness(200%)}
    37.4999% {filter: contrast(0%) brightness(200%)}
    37.5% {filter: none}
    59.9999% {filter: none}
    60% {filter: contrast(0%) brightness(200%)}
}
@keyframes pulse3 {
    0% {filter: contrast(0%) brightness(200%)}
    15% {filter: none}
    29.9999% {filter: none}
    30% {filter: contrast(0%) brightness(200%)}
    44.9999% {filter: contrast(0%) brightness(200%)}
    45% {filter: none}
    59.9999% {filter: none}
    60% {filter: contrast(0%) brightness(200%)}
}
#rainbow {
    box-sizing: border-box;
    background: #ffffff;
    transform: translateX(calc(var(--width) / -2 + 5.45vw));
    --width: 10.9vw;
    width: var(--width);
    height: 30vw;
    border-bottom: 30vw solid transparent;
    border-left: calc(var(--width) / 2 - 5.45vw) solid #000000;
    border-right: calc(var(--width) / 2 - 5.45vw) solid #000000;
    transition: 0.2s;
    transition-delay: 0.2s;
    filter: saturate(0%) brightness(2700%);
    background-size: var(--width) 30vw;
    background-position-x: calc(var(--width) / -2 + 5.45vw);
}
#rainbowtext {
    background: url('assets/rainbowline.png');
    background-size: 100vw;
    transform: translate(-50px, -1px);
    width: 100vw;
    padding-bottom: 0px;
    display: grid; /* https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/ */
    grid-template-rows: 0fr;
    transition: 0.2s;
    color: #000000;
    filter: saturate(0%) brightness(2700%);
    .wrapper {
        overflow-y: hidden;
    }
}
@keyframes pulsetext {
    0% {background: #ffffff; color: #000000;}
}
@keyframes pulsetext2 {
    0% {background: #ffffff; color: #000000;}
}
body.revealed.refracted.refracting o:not(.switched) {
    animation: pulsetext 0.5s linear 1;
}
body.revealed o.switched {
    animation: pulsetext2 0.5s linear 1;
}

#sideways {
    margin-left: 100vw;
    padding-left: 500px;
    top: 70vw;
    left: -50px;
    position: absolute;
    height: 100vh;
    width: calc(var(--maxhorizscroll) * 2px);
    text-align: left;
    display: flex;
    align-items: center;
    background-image: url("assets/sideways/space.png");
    background-size: contain;
    * {
        z-index: 1;
        display: inline-block;
    }
    .fadein {
        left: 0;
        pointer-events: none;
        z-index: 0;
        position: absolute;
        height: 100vh;
    }
}