#dull-contrivance {
    padding: 15px 0px;
    --spinspeed: 250ms;
    background-color: #000000;
}

body {
    background: #181a23;
    image-rendering: pixelated;
    margin: 0;
}

#header {
    left: 0;
    top: 0;
    padding: 10vw 0px 100vw 0px;
    width: 100%;
    position: relative;
    background-image: url(assets/stars.gif), linear-gradient(#000000, #222244);
    text-align: center;
    color: #ffffff;
    h1 {
        font-size: 100px;
    }
    #eye {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 50px;
        img {
            width: 42px;
            height: 42px;
        }
    }
    #forest {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

#body {
    padding: 100px;
    color: #ffffff;
    font-family: spacemono;
    text-align: center;
    #lookathim {
        img {
            width: 384px;
            height: 384px;
        }
    }
}