body {
    background: black;
}
#him {
    position: fixed;
    left: calc(50% - 256px);
    top: calc(50% - 256px);
}
.lookers {
    visibility: hidden;
    position: fixed;
    left: calc(50% - 768px);
    top: calc(50% - 256px);
    width: 1536px;
    height: 512px;
}
body[target="him"] #athim {
    visibility: visible
}
body[target="you"] #atyou {
    visibility: visible
}

img { 
    image-rendering: pixelated;
}