body {
    --highlight: #cf839c;
    --background: #110b0d;
}

#received, #calculated {
    font-size: 100px;
    position: relative;
    height: 95px;
    width: 100vw;
}
#received {
    .current {
        color: #ffffff;
    }
    .text {
        right: calc(50vw - 459px);
    }
}
#calculated {
    .struck {
        background-color: #ffffff;
        color: var(--background);
    }
    .text {
        right: calc(50vw + 30.5px);
    }
    input {
        position: absolute;
        font: inherit;
        line-height: 95px;
        height: 95px;
        width: 61px;
        left: calc(50vw - 30.5px);
        background: #ffffff;
        cursor: text;
        border: none;
        border-bottom: #ffffff solid 8px;
        padding: 0;
    }
    input:focus {
        background: var(--background);
        color: #ffffff;
        outline: none;
    }
}
.text {
    position: absolute;
    line-height: 95px;
    color: var(--highlight);
    height: 95px;
    overflow-y: hidden;
}
#received::before, #calculated::before {
    z-index: 1;
    position: absolute;
    content: " ";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--background) calc(50vw - 457.5px), #00000000 calc(50vw - 152.5px), #00000000 calc(50vw + 30.5px), var(--background) calc(50vw + 457.5px));
    pointer-events: none;
}

#stats {
    color: var(--highlight);
    tbody {
        text-align: left;
        th {
            padding-left: 45px;
        }
        td {
            padding-right: 25px;
        }
    }
}
#settings {
    color: var(--highlight);
    overflow: visible;
    th, td {
        vertical-align: middle;
        position: relative;
    }
    tbody {
        text-align: left;
        th {
            padding-left: 45px;
        }
        td {
            padding-right: 25px;
        }
    }
    th.section {
        color: #ffffff;
        text-align: center;
    }
}
