a { color: #00ffff; }
a:visited { color: #ff00ff; }
u { text-decoration-style: dashed; }
body.strike {
    --highlight: #e9757f;
    --background: #1d1112;
}

body {
    --highlight: #929292;
    --background: #0F0F0F;
    background-color: var(--background);
    font-family: spacemono;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-bottom: 100px;
}
html, body {
    width: 100vw;
    overflow-x: hidden;
}
h2 {
    margin: 0;
}

button,
.toggle-button + label {
    color: #0F141A;
    font-weight: bold;
    font-family: titilliumweb;
    font-size: 16px;
    background-color: var(--highlight);
    padding: 6px;
    transition-duration: 0.3s;
    vertical-align: middle;
    border: 2px solid var(--highlight);
}
button:hover,
.toggle-button + label:hover {
    background-color: var(--background);
    color: var(--highlight);
}
.toggle-button:checked + label {
    background-color: var(--background);
    color: #ffffff;
}
.toggle-button {
    display: none;
}

table {
    display: inline-block;
    max-width: 100vw;
    overflow-x: auto;
    tbody {
        text-align: center;
        th {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

#timer {
    display: inline-block;
    min-width: 70px;
    vertical-align: middle;
    border: 2px solid var(--highlight);
    padding: 4px 10px;
    #strikes {
        background-color: var(--highlight);
        color: var(--background);
    }
}

/* RANGE INPUT */
input[type="range"] {
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    background: var(--highlight);
    height: 4px;
    border: 0;
    border-radius: 2px;
    max-width: 100px;
}
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--highlight);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}
input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:hover::-moz-range-thumb {
    background: #ffffff;
}
span:has(input[type="range"]) {
    --after-width: 36px;
    --value: "0";
    overflow-y: visible;
    position: relative;
}
span:has(input[type="range"])::after {
    text-align: center;
    box-sizing: border-box;
    content: var(--value);
    position: absolute;
    left: calc(50% - (var(--after-width) * 0.5));
    top: -20px;
    width: var(--after-width);
    height: 20px;
    background: var(--highlight);
    color: var(--background);
    border: 0;
    border-radius: 8px;
    opacity: 0;
    transition: 0s, opacity 0.4s ease-in, transform 0.4s ease-in;
    line-height: 20px;
    pointer-events: none;
}
span:has(input[type="range"])::before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    left: calc(50% - 8px);
    top: -0.2px;
    width: 16px;
    height: 8px;
    background: transparent;
    border: 8px solid transparent;
    border-top: 8px solid var(--highlight);
    opacity: 0;
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
    pointer-events: none;
}
span:has(input[type="range"]:hover)::after,
td:has(input[type="range"]:hover)::before {
    opacity: 1;
    transform: translateY(-4px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}
span:has(input[type="range"]:active)::after {
    background-color: var(--background);
    color: var(--highlight);
    border: 2px solid var(--highlight);
    line-height: 16px;
}
span:has(input[type="range"]:active)::before {
    border-top-color: var(--background);
}

/* NUMBER INPUT */
input[type="number"] {
    width: 40px;
    border: 2px solid var(--highlight);
    border-radius: 8px;
    font-family: spacemono;
    background-color: var(--background);
    color: #ffffff;
}

/* KEYBOARD */
#keyboard {
    button {
        width: 40px;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    button.press {
        border: 2px solid var(--background);
        transition: 0s;
    }
    button[greyed].press {
        border: 2px solid var(--highlight);
        transition: 0s;
    }
    button[greyed] {
        color: var(--highlight);
        background: none;
        border: 2px solid var(--background);
    }
}

/* PRACTICE POOL */
#practice-pool {
    display: inline-block;
    #practice-pool-wrapper {
        --columns: 10;
        margin-bottom: 8px;
        max-width: 80vw;
        overflow: auto;
    }
    .symbols {
        image-rendering: pixelated;
        font-size: 0;
        .symbol {
            position: relative;
            display: inline-block;
            overflow: hidden;
            margin: 2px;
            width: 48px;
            height: 48px;
            background-color: #000000;
            img {
                width: 48px;
                transition: 0.3s;
            }
        }
        .symbol::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 101%;
            content: " ";
            transition: 0.4s;
        }
        .symbol[state="out-of-pool"]::after { background: #22222233; }
        .symbol[state="unlearnt"]::after { background: #ffff0033; }
        .symbol[state="learnt"]::after { background: #00ff6633; }
        .symbol.flash-bad::after { background: #ff006666 !important; transition: none; }
        .symbol.flash-good::after { background: #00ff6666 !important; transition: none; }
        .overlay {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            line-height: 100%;
            font-size: 24px;
            z-index: 1;
            translate: 0 -50%;
            opacity: 0;
            transition: 0.3s;
            text-shadow: 0px 2px 4px #000000;
            pointer-events: none;
        }
        .symbol:hover img { filter: blur(2px); }
        .symbol:hover .overlay { opacity: 1; }
        ::selection {
            background: none;
        }
    }
    #practice-pool-wrapper.square-tiling .symbols {
        display: grid;
        grid-template-columns: repeat(var(--columns), 52px);
        justify-content: center;
    }
    /* https://css-tricks.com/hexagons-and-beyond-flexible-responsive-grid-patterns-sans-media-queries/ really cool. thank you somuch. */
    /* i dont understand this anymore youre on your own sorry */
    #practice-pool-wrapper.hexagon-tiling {
        text-align: left;
        display: grid;
        --s: 55.425625841208145px; /* so that height is 48px */
        --m: 4px;
        --f: calc(var(--s) * 0.8660254038 + var(--m)); /* the height of two rows */
        grid-template-columns: calc(var(--s) * 0.75 + var(--m) * 0.8660254038)  repeat(var(--columns), calc(var(--s) * 0.75 + var(--m) * 0.8660254038));
        height: calc(var(--rows) * (var(--s) * 0.8660254038 + calc(var(--m))));
        justify-content: center;
        .symbols {
            max-width: none;
            grid-column: 1/-1;
            .symbol {
                --gap-between: calc(var(--s) * 0.5 + var(--m) * 1.73205080757);
                text-align: center;
                width: var(--s);
                margin-left: 0px;
                margin-top: calc(var(--m) * 0.5); /* applied twice since touching two rows down */
                margin-right: calc(var(--gap-between) * 0.5);
                margin-bottom: calc(var(--s) * -0.4330127019);
                margin-left: calc(var(--gap-between) * 0.5);
                height: calc(var(--s) * 0.8660254038); /* sqrt.75 */
                clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                img { margin-bottom: -70%; }
            }
        }
        .symbols::before {
            content: "";
            width: calc(var(--s) * 0.75 + var(--m) * 0.8660254038);
            float: left;
            height: 100%; 
            shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 20px), #000 0 calc(var(--f) - 10px), #0000 0 var(--f));
            /* background: repeating-linear-gradient(#fff 0 calc(var(--f) - 20px), #f00 0 calc(var(--f) - 10px), #fff 0 var(--f)); */
        }
    }
}
#practice-pool-display {
    display: inline-block;
    color: #0F141A;
    font-weight: bold;
    font-family: titilliumweb;
    font-size: 16px;
    background-color: var(--highlight);
    padding: 6px;
    transition-duration: 0.3s;
    vertical-align: middle;
    border: 2px solid var(--highlight);
    .dimensions, .select {
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    .dimensions {
        width: 82px;
        overflow: hidden;
        white-space: nowrap;
        vertical-align: top;
    }
    .select {
        --width: 40px;
        width: var(--width);
    }
    select {
        border: 2px solid var(--highlight);
        border-radius: 8px;
        background: var(--background);
        color: #ffffff;
        width: var(--width);
        height: 26px;
        padding: 1px;
        transition: 0.5s;
    }
    .select::after {
        border-radius: 8px;
        font-family: fontawesome;
        color: #ffffff;
        background: var(--background);
        position: absolute;
        width: calc(var(--width) - 20px);
        margin-right: 20px;
        height: 19px;
        padding: 2px 1px 1px 1px;
        left: 0;
        top: 2px;
        content: ' ';
        line-height: normal;
        pointer-events: none;
        transition: 0.5s;
    }
    .select:has(option[value="lines"]:checked)::after { content: '\f039' }
    .select:has(option[value="square-tiling"]:checked)::after { content: '\f0c8' }
    .select:has(option[value="hexagon-tiling"]:checked)::after { content: '\f312' }
    .dimensions:has(+.select option[value="lines"]:checked) {
        width: 0px;
        pointer-events: none;
    }
    .select:has(option[value="lines"]:checked) { --width: 122px }
}
