#keyboard {
    button {
        width: 40px;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    button[disabled] {
        color: var(--highlight);
        background: none;
        border: none;
    }
}
